* {
    margin: 0;
}

body {
    font-family: Bookman, Serif;
}

header, footer {
    background-color: Indigo;
    color: white;
    padding: 10px;
    text-align: center;
}

#napis {
    background-color: BlueViolet;
    padding: 10px;
    text-align: right;
}

main {
    display: flex;
    justify-content: space-between;
}

#lewy, #prawy {
    background-color: Lavender;
    height: 500px;
}

#lewy {
  width: 35%;
  height: 500px;
  background-color: Lavender;
  overflow: auto;
  box-sizing: border-box;
  padding: 10px;
}

#prawy {
    width: 35%;
}

#srodkowy {
    background-color: GhostWhite;
    text-align: center;
    height: 500px;
    width: 40%;
}

img {
  float: right;
  width: 250px;
  height: 250px;
  padding: 10px;
}

p {
    color: white;
    font-size: 150%;
    font-style: italic;
}

table, form {
    margin: 30px;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 30px;
}

td, th {
  border: 1px solid Indigo;
  padding: 3px;
  word-wrap: break-word;
}

#lewy table {
  width: 100%;
  table-layout: fixed;
}

footer {
    padding: 40px 30px;
}
